@model IEnumerable<SanayeeIdentity_5.Data.Type>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceForMonth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceForMonth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TypeId })
        </td>
    </tr>
}

</table>
